@import url("./SHARED.css");
*{
    /* font-family: "Noto Naskh Arabic", serif; */
  
}
#homework button{
    font-size: var( --font-s-20);
    font-weight: var( --font-s-16);
    font-family: var(--font-f);
    color: var(--font-c);
}
#homework i {
 padding-right: 5px; 
}
#homework .Previous-color{
    color: #38B124;
}
#homework .Previous-bg-color{
    background-color: #38B124;
}
#homework .Previous-border{
    border: #38B124 solid 1.2px; opacity: 1;
}
#homework .Previous-btn{
    color: #38B124;
    background-color: #D7EFD3;
}
#homework .Present-color{
    color: #FFC436;
}
#homework .Present-bg-color{
    background-color: #FFC436;
}
#homework .Present-border{
    border: #FFC436 solid 1.2px; opacity: 1;
}
#homework .Present-btn{
    color: #FFC436;
    background-color: #FFF3D7;
}
/*  */
#homework .Next-color{
    color: #108DEE;
}
#homework .Next-bg-color{
    background-color: #108DEE;
}
#homework .Next-border{
    border: #108DEE solid 1.2px; opacity: 1;
}
#homework .Next-btn{
    color: #108DEE;
    background-color: #CFE8FC;
}
#homework .mydropdown {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(15.7143px, 37.8571px, 0px); */
}
#homework .card h5 {
    font-size: var(--font-s-18);
    color: var(--font-c);
    font-weight: var(--font-w-6);
    font-family: var(--font-f);
}
#homework .card p {
    font-size: var(--font-s-14);
    font-family: var(--font-f);
    font-weight: var(--font-w-4);
    color: #94A3B8;
}

#homework li:hover{
    background-color: #E7F0FB;

}
.page {
    background-color: var(--bg-main); 
    min-height: 100vh;
}
.project-design .main-content {
    height: auto;
    /* background-color: #FEFEFE; */
}
.rectangle{
    border: none;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--bg-main);
    box-shadow: 6px 6px 10px 1px #0000000D;
    overflow-x: hidden;
}
#homework button {
    display: flex;
    align-items: center; 
}
#homework .dropdown-item{
    text-align: start;
}
#homework .dropdown-menu{
    background-color: #F9F9F9;
    border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #E7F0FB
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #E7F0FB
}
