#Lectures .form-card{
    background-color: var(--bg-card);
    border-radius: 15px;
}
#Lectures .form-card h4{
    font-size: var(--font-s-32);
    font-weight: var(--font-w-7);
    color: var(--font-c);
}
#Lectures .form-card label{
    font-size: var(--font-s-16);
    font-weight: var(--font-w-5);
    color: var(--font-c);
}