body{
    overflow-x: hidden;
}
#cards .card,
#cards .card-body {
    border-radius: 15px;
   background-color: var(--bg-main);
}
.bg {
    background-color: var(--bg-card);
    border-radius: 15px;
} 
#cards .card-body-pink {
    background-color: #F6D9E1;
}

#cards .card-title-pink {
    background-color: #FFFFFF;
    color: #F6D9E1;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 10px 17px;
    font-size: 25px;
    font-weight: 700;
}

#cards .btn-group-pink {
    background-color: #FFE8EF;
}

#cards .card-body-blue {
    background-color: #D3EAFF;
}

#cards .card-title-blue {
    background-color: #FFFFFF;
    color: #D3EAFF;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 16px 8px;
    font-size: 10px;

}

#cards .btn-group-blue {
    background-color: #E9F5FF;
}

#cards .card-body-yellow {
    background-color: #F8EFE2;
}

#cards .card-title-yellow {
    background-color: #FFFFFF;
    color: #F8EFE2;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 11px 9px;
   

}

#cards .btn-group-yellow {
    background-color: #FAF5EC;
}

#cards .card-body-purple {
    background-color: #E1E2F6;
}

#cards .card-title-purple {
    background-color: #FFFFFF;
    color: #E1E2F6;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 11px 10px;
}

#cards .btn-group-purple {
    background-color: #FCF9FF;
}

#end table th,
td {
    border: none;
}

#end .anlysis-blue {
    background-color: #BDE2F1;
    color: #FFFFFF;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 10px 17px;
    font-size: 20px;
}

#end .anlysis-green {
    background-color: #A1E8CB;
    color: #FFFFFF;
    /* width: 50px;
    height: 50px; */
    border-radius: 100px;
    padding: 10px 17px;
    font-size: 20px;
}

#cards .swiper {
    width: 100%;
    height: 100%;
  }
  
  #cards .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }