body {
  overflow-x: hidden;
}

#Projects .swiper-slide img {
  border-radius: 20px;
}

#Projects .swiper-slide {
  /* filter: blur(2px); */
  opacity: 0.6;
}

#Projects .swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}

#Projects .swiper-slide:hover {
  cursor: grab;
}

#Projects .swiper-slide:active {
  cursor: grabbing;
}

#Projects .swiper {
  width: 100%;
  height: 100%;
}

#Projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#Projects .content_container {
  background: linear-gradient(134.23deg, #F97CBC 17.94%, #84BCE7 42.96%, #9BC7E9 51.34%, #A7CDEA 55.35%, #D9EFF7 66.94%);

  border-radius: 15px;
}

#Projects .rectangle-1 h1 {
  font-family: var(--font-f);
  color: var(--font-c);
  font-weight: var(--font-w-7);
  font-size: var(--font-s-32);
}
#Projects .rectangle-1 p {
  font-family: var(--font-f);
  color: var(--font-c);
  font-weight: var(--font-w-4);
  font-size: var(--font-s-16);
}
/* #Projects .rectangle{
  border: none;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: var(--bg-card);
  box-shadow: 1px 1px 3px 0px #0000001b;
  overflow-x: hidden;
} */
#Projects button {
  display: flex;
  align-items: center; 
}
#Projects .myCard{
  background-image:  url("../../assets/images/Union.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;

}

  #Projects .custom-card {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #F2F2F2;
    overflow: hidden;
    border-radius: 20px;
    
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
    
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
    z-index: -10;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
/* .ovarl-lay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0px 25px;
  background-color: #131313;
} */
.ovarl-lay::after,
.ovarl-lay::before{
  content: '';
  position: absolute;
  right: 0;
  top: 47px;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  z-index: 1;
}
.ovarl-lay::after{
  border-radius: 0 0 25px 0;
  background-color:#F2F2F2 ;
}
.image-content img{
  position: relative;
  z-index: 2;
}
  
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #000000;
  --bs-pagination-bg: #E0E0E0;
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #FFFFFF;
  --bs-pagination-hover-bg: #FFC436;
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #0d6efd;
  --bs-pagination-active-border-color: #0d6efd;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none
} 
  
#Projects .card:hover, .card:checked{
  transform: scale(1.05) !important;
}
#Projects .card{
transition: 0.4s;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
