#Quiz-table .rectangle{
    border: none;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--bg-card);
    box-shadow: 1px 1px 3px 0px #0000001b;
    overflow-x: hidden;
}
#Quiz-table .table-1{
    border: none; /* Remove default table border */
    border-radius: 0px; /* Apply border radius */
    overflow: hidden; /* Hide any overflow content */
}
#Quiz-table .table-1 th {
    border: none; /* Remove borders for table cells */
}
#Quiz-table table{
    font-family: var(--font-f);
}
#Quiz-table .finsh{
    background-color: #DCEFD9;
    color: #2D861E;
}
#Quiz-table .Notfinsh{
    background-color: #FAF1DC;
    color: #E1AE31;
}
.tabel-contaner {
    overflow-y: auto; 
    max-height: 370px;
}