/* font size/weight and color only */
:root {
    --font-c: #073051;
    --font-s-12: 12px;
    --font-s-18: 18px;
    --font-s-25: 25px;
    --font-s-22: 22px;
    --font-s-16: 16px;
    --font-s-14: 14px;
    --font-s-11: 11px;
    --font-w-7: 700;
    --font-w-4: 400;
    --font-w-5: 500;
    --font-w-6: 600;
    /* weight 600 is bold in Montserrat family*/
    --font-f: 'Noto Naskh Arabic', serif;
}

.sidebar span {
    font-size: var(--font-s-18);
    font-weight: var(--font-w-6);
}

.header h3 {
    font-size: var(--font-s-25);
    font-weight: var(--font-w-7);
    color: var(--font-c);
}

.header span {
    font-size: var(--font-s-16);
    font-weight: var(--font-w-4);
    color: var(--font-c);
}