/* font size/weight and color only */
:root {
    --bg-main:#F9F9F9;
    --bg-card:#FFFFFF;
    --font-c: #073051;
    --font-s-12: 12px;
    --font-s-18: 18px;
    --font-s-25: 25px;
    --font-s-22: 22px;
    --font-s-20: 20px;
    --font-s-16: 16px;
    --font-s-32: 32px;
    --font-s-14: 14px;
    --font-s-11: 11px;
    --font-w-7: 700;
    --font-w-4: 400;
    --font-w-5: 500;
    --font-w-6: 600;
    /* weight 600 is bold in Montserrat family*/
    --font-f: 'Noto Naskh Arabic', serif;
}

.sidebar span {
    font-size: var(--font-s-18);
    font-weight: var(--font-w-6);
}

.header h3 {
    font-size: var(--font-s-25);
    font-weight: var(--font-w-7);
    color: var(--font-c);
}

.header span {
    font-size: var(--font-s-16);
    font-weight: var(--font-w-4);
    color: var(--font-c);
}

.rectangle{
    border: none;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--bg-main);
    box-shadow: 6px 6px 10px 1px #0000000D;
    overflow-x: hidden;
    
}
.rectangle-padding{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.rectangle-bg{
    border: none;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--bg-card);
    box-shadow: 1px 1px 3px 0px #0000001b;
    overflow-x: hidden;
}
.tabel-contaner {
    overflow-y: auto;
    max-height: 370px;
}